<h1>mobile name is <%= mobileData.name %> </h1>
<h2>mobile model is <%= mobileData.model%> </h2>
<h2>mobile  processor is <%= mobileData.processor%> </h2>
<h2>mobile  type is <%= mobileData.name%> </h2>