    <center><form method="POST" action ="/postRegDetails" name="form" >
        <label>enter user name</label><br>
        <input type ="text" id="Name" name="Name"><br><br>
    
        <label>enter your email </label><br>
        <input type ="text" id="Email"  name= "Email"><br><br>

        <label>enter your place </label><br>
        <input type ="text" id="Place"  name= "Place"><br><br>

        <label>enter your Role </label><br>
        <input type ="text" id="Role"  name= "Role"><br><br>

        <label>enter your Course </label><br>
        <input type ="text" id="Course"  name= "Course" ><br><br>

        <label>enter your MobileNumber </label><br>
        <input type ="number"  id="MobileNum"  name= "MobileNum"><br><br>


      
        <input type="submit" value="submit">
    </form>

</center>